#sidebar-section { 
  margin-left: 0; 
  /* margin-top: 60px; */
  position: fixed; 
  left: 0%; 
  width: 250px; 
  float: left; 
  height: 100%; 
  overflow-y: auto; 
  z-index: 1; 
} 

#sidebar-section > div { 
  margin-bottom: 30px; 
  border-bottom: solid 1px rgb(193, 193, 193);
} 

.sidebar { 
  display: flex; 
  flex-direction: column; 
  margin-left: 0; 
  padding-left: 0; 
  width: 250px; 
  box-sizing: border-box; 
} 

.sidebar > li { 
  list-style-type: none; 
  /* margin-bottom: 20px;  */
  position: relative; 
  display: flex;
  box-sizing: border-box; 
  width: calc(250px - 20px); 
  padding-left: 20px; 
  height: 40px;
  align-items: center;
}


.sidebar-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-titles { 
  text-decoration: none; 
  color: rgb(53, 50, 49); 
  font-size: 15px; 
  position: absolute; 
  top: 5%; 
  left: 35%; 
} 

.active { 
  position: absolute; 
  top: auto; 
  left: 35%; 
  font-weight: bold; 
}

.sidebar img {
  height: 24px;
}

.sidebar-heading {
  padding-left: 15px;
  font-weight: bold;
}