.video-section { 
  margin: 20px 5px 0 5px; 
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: flex-start; 
  margin-left: 255px; 
  margin-top: 60px; 
  padding-top: 20px; 
} 

.video-container { 
  margin-top: 20px; 
  margin-bottom: 10px;
  margin-left: 2px;
}

.video-thumbnail {
  display: flex;
  position: relative;
}

.images { 
  width: 295px; 
  height: 175px; 
  margin-bottom: 5px;
  border-radius: 10px;
}

.video-time {
  position: absolute;
  bottom: 4px;
  right: 2px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 3px 4px;
  margin: 4px;
  border-image: 2px;
  font-size: 1rem;
}

.video-description { 
  display: flex; 
  flex-direction: row; 
} 

.channel-container-main { 
  height: 35px; 
  width: 35px; 
  border-radius: 50%; 
  display: inline-block; 
  justify-self: flex-start; 
} 

.channel-main { 
  height: 100%; 
  width: 100%; 
  border-radius: 50%; 
  object-fit: cover; 
} 

.video-details { 
  width: 200px; 
  margin-top: 3px; 
  margin-left: 10px; 
  justify-self: flex-end; 
} 

.video-title { 
  font-weight: bold; 
  text-decoration: none; 
  color: black; 
  margin-bottom: 5px;
} 

.channel-name { 
  color: rgb(99, 95, 94); 
  text-decoration: none; 
  display: block; 
  margin-top: 5px; 
} 

.channel-name:hover { 
  color: rgb(53, 50, 49); 
} 

.views { 
  color: rgb(99, 95, 94); 
  text-decoration: none; 
} 

.time { 
  text-decoration: none; 
  color: rgb(99, 95, 94); 
}

